body {
    margin: 0;
    font-size: var(--fs-body);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    color: var(--fg);
    background: var(--bg);
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: var(--brand);
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}
